:root {
  --font: "Lato";
}
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 16px;

  margin: 0;
  overflow-x: hidden;
  /* color: var(--text-color); */
  min-height: 100vh;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
h1 {
  font-size: 3rem;
  color: white;
  text-align: center;
}
h2 {
  font-size: 2rem;
  text-align: center;
}
.input {
  width: 100%;
  margin-bottom: 16px;
  padding: 8px;
}
.container {
  width: 80%;
  /* max-width: 600px; */
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 16px;
  border: 1px solid blanchedalmond;
  border-radius: 16px;
}
/* alertas  */
.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}
.alert-primary {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #b6d4fe;
}
.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
.alert-warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-group-item p {
  font-weight: bold;
  margin-bottom: 0;
}
.list-group-item span {
  color: white;
  background-color: #0093e9;
  padding: 0.5rem 1rem;
}
@media screen and (min-width: 750px) {
  /* .row {
    grid-template-columns: 1fr 1;
  } */

  .container {
    width: 60%;
  }
}

@media screen and (min-width: 1000px) {
  .row {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  .container {
    width: 100%;
  }
}
